

    <!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>Blow Out</small>
            </h1>
            <p>History: We've been around since September 15th 2016!!</p>
            <p>Mission: To bring music to everyone's heart... And to Blow the competion out of the water!!</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/NathanBartonImage.jpg" alt="">
            <h3>
                Nathan Barton
                <small>Intern</small>
            </h3>
            <p>Super excited to solve all problems and help you find your instrument!</p>
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/Henrique.png" alt="">
            <h3>
                Henrique Bronovski
                <small>CEO</small>
            </h3>
            <p>He's the boss. Kinda like a the conductor</p>
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/BMImage.jpg" alt="">
            <h3>
                Brian Marchant
                <small>CTO</small>
            </h3>
            <p>He tells us how to do things right. Kinda like the first chair</p>
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/SWImage.jpg" alt="">
            <h3>
                Shane Whitlock
                <small>Founder</small>
            </h3>
            <p>This is the guy who started it all!!</p>
        </div>
    </div>
